/**
* Template Name: Techie - v3.0.0
* Template URL: https://bootstrapmade.com/techie-free-skin-bootstrap-3/
* Author: JSS Team @ 2021
* License: https://bootstrapmade.com/license/
*/

:root {
  --basic-light-color-hex: #129d5a;
  --basic-light-color-rgba: rgba(18, 157, 90, 0.9);
  --basic-strong-color-hex: #0a8546;
  --basic-strong-color-rgba: rgba(9, 132, 69, 0.9);

  --default-color-hover-hex: #ff5821;
  --bg-liner-gradient:linear-gradient(0deg, rgb(240, 245, 255, 0.9) 0%, rgba(240, 245, 255, 0.8) 20%, rgba(240, 245, 255, 0) 100%);
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: var(--basic-light-color-hex);
  text-decoration: none;
}

a:hover {
  color: #8577fb;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: auto;
  }
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: darkgrey;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.2em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.form-rounded {
  border-radius: 1rem;
}

.bg-done {
  background-color: #40b1c3;
}

.bg-onprogress {
  background-color: #ffa331;
}

.view-more a {
  color: #473d3a;
  font-size: 18px;
}
.view-more a:hover {
  color: var(--default-color-hover-hex);
}
.divider {
  border: 1px solid #ccc;
}
.el-hide {
  display: none;;
}
.sign-out {
  color: #FFFFFF;
  background-color: #dc3545;
  padding: 10px 20px !important;
  border-radius: 20px;
}
.sign-out:hover {
  color: #dc3545;
  background-color: #FFFFFF;
  border: 1px solid #dc3545;
}
.img-content-fit {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
/*--------------------------------------------------------------
# Hold On Overlay
--------------------------------------------------------------*/
#holdon-content {
  width: 80px;
  margin: -60px 0 0 -40px;
}

/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
.modal-content {
  border-radius: 25px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: var(--basic-light-color-hex);
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: var(--basic-strong-color-hex);
  color: #fff;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--basic-light-color-hex);
  border-top-color: #e7e4fe;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

#header.header-scrolled, #header.header-inner-pages {
  background: rgba(9, 132, 69, 0.8);
  /*background: rgba(24, 6, 185, 0.8);*/
  padding: 12px 0;
  backdrop-filter: blur(5px);
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    padding: 12px 0;
  }
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 24px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
  font-size: 15px;
  font-weight: 600;
  padding: 0 3px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 22px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}
.nav-menu .drop-down ul a {
  /*padding: 10px 20px;*/
  font-size: 14px;
  text-transform: none;
  color: #2c4964;
}
.nav-menu .drop-down a:before {
    background-color: transparent !important;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: var(--basic-light-color-hex);
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/*nav dropdown span custom - when any problem edit here*/
.nav-menu > ul > li {
  white-space: normal;
}

.nav-menu .drop-down ul span {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: #2c4964;
}

.nav-menu span {
    display: block;
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    font-size: 15px;
    padding: 0 3px;
    font-family: "Open Sans", sans-serif;
}

.nav-menu .drop-down ul{
  min-width: 290px;
  left: -100% !important;
  border-radius: 20px;
  padding: 20px;
  right: 0;
}

.nav-menu .drop-down ul .profile {
  padding: 20px;
}

.nav-menu .drop-down ul .profile {

}

.mobile-nav span {
    display: block;
    position: relative;
    color: #2c4964;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
}

.mobile-nav .drop-down .profile {
    padding-right: 20px;
}
/*end nav dropdown span custom - when any problem edit here*/

/* Get Startet Button */
.get-started-btn {
  margin-left: 25px;
  color: #fff;
  border-radius: 5px;
  padding: 6px 25px 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.get-started-btn:hover {
  border-color: #fff;
  color: #fff;
}

@media (max-width: 992px) {
  .get-started-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}

/* account info Button */
.nav-profile {
  color: #fff;
  border-radius: 20px;
  /*white-space: nowrap;*/
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
  transition: 0.3s;
  margin-top: -5px;
  font-family: "Open Sans", sans-serif;
}

.nav-profile span {
  padding: 3px 10px;
  display: inline-block; 
}

.nav-profile:hover {
  border-color: #fff;
  color: #fff;
}
.profile .name {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3em;
  margin-bottom: 10px;
}
.profile .jabatan {
  color: #07B3A7;
  font-size: 14px;
}
.profile .dinas {
  text-transform: uppercase;
}
.profile li i {
  font-size: 18px;
  display: inline-block;
  background: rgba(0, 220, 77, 1);
  color: #FFFFFF;
  line-height: 1;
  padding: 8px 0;
  margin-right: 10px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.profile li i:hover {
  background: rgba(0, 220, 77, 1);
  color: #FFFFFF;
  text-decoration: none;
}

@media (max-width: 992px) {
  .nav-profile {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
  .nav-profile span {
    padding: 5px 0px;
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #2c4964;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: var(--basic-light-color-hex);
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(28, 47, 65, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  /*height: 100vh;*/
  height: 52vh;
  /*background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url("../img/hero-bg.jpg") center center no-repeat;*/
  /*background: linear-gradient(45deg, rgba(18, 157, 90, 0.9) 0%, rgba(9, 132, 69, 0.9) 100%), url("../img/hero-bg.jpg") center center no-repeat;*/
  background: linear-gradient(45deg, var(--basic-light-color-rgba) 0%, var(--basic-strong-color-rgba) 100%), url("../img/bg/hero-carousel.png") center center no-repeat;
  background-size: cover;
 /* margin-bottom: -50px;*/
}

#hero .container, #hero .container-fluid {
  padding-top: 84px;
}
#hero h1 {
  margin: 0;
  /*font-size: 50px;*/
  /*line-height: 64px;*/
  font-size: 34px;
  font-weight: 700;
  line-height: 35px;
  color: #fff;
}
#hero h2 {
  color: rgba(255, 255, 255, 0.9);
  margin: 15px 0 0 0;
  /*font-size: 26px;*/
  font-size: 22px;
  line-height: 1.4;
}
#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  border: 2px solid #fff;
}
#hero .btn-get-started:hover {
  background: #fff;
  color: var(--basic-light-color-hex);
}
#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
#hero .hero-carousel {
  position: relative;
  z-index: 1;
  /*bottom: -10px;*/
   /*height: 40vh;*/
}
#hero .hero-carousel .hero-img {
  height: auto;
}
#hero .hero-carousel .owl-item {
 /* height: 70vh;*/
}
#hero .hero-carousel .owl-nav, #hero .hero-carousel .owl-dots {
  margin-right: 6%;
  text-align: right;
}

#hero .hero-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc !important;
}
#hero .hero-carousel .owl-dot.active {
  background-color: #fff !important;
}

/*@media (max-width: 1024px), (max-height: 768px) {
  #hero {
    margin-bottom: -40px;
  }
}*/

@media (min-width: 1200px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #hero {
    text-align: center;
    height: 80vh;
  }
  #hero .container, #hero .container-fluid {
    padding-top: 68px;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-carousel .hero-img {
    text-align: center;
  }
  #hero .hero-carousel .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    /*font-size: 26px;*/
    /*line-height: 36px;*/
    font-size: 20px;
    line-height: 1;
  }
  #hero h2 {
    /*font-size: 18px;
    line-height: 24px;*/
    font-size: 16px;
    line-height: 1.3em;
  }
  #hero .hero-carousel .hero-img img {
    width: 60%;
  }
}

@media (max-width: 575px) {
  #hero .hero-carousel .hero-img img {
    width: 80%;
  }
  #hero .hero-carousel .owl-nav, #hero .hero-carousel .owl-dots {
    margin-right: 0;
    text-align: center;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 100px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f9f8ff;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  position: relative;
  color: #1A516F;
  /*text-transform: uppercase;*/
  /*margin-bottom: 20px;*/
  /*padding-bottom: 20px;*/
}
.section-title p {
  margin-bottom: 0;
}
.section-title p > span {
  color: #337AB7;
}

/*--------------------------------------------------------------
# Favourite App
--------------------------------------------------------------*/
.fav-app {
  padding: 0px;
}

/*.fav-app .icon-boxes .icon-box {
  text-align: center;
  border-radius: 20px;
  background: rgba(211, 211, 211, 0.8);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 20px 20px;
  width: 100%;
}*/

/*mengatur icon hover aplikasi*/
/*.fav-app .icon-boxes .menu-box .menu {
  position: absolute;
  left: 20px;
  bottom: 0;
  right: 20px;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
}

.fav-app .icon-boxes .menu-box .menu:hover {
  opacity: 1;
}

.fav-app .icon-boxes .menu-box .menu a {
  transition: color 0.3s;
  color: #473d3a;
  margin: 0 10px;
  padding-top: 8px;
  display: inline-block;
}

.fav-app .icon-boxes .menu-box .menu a:hover {
  color: var(--default-color-hover-hex);
}

.fav-app .icon-boxes .menu-box .menu i {
  font-size: 18px;
  margin: 0 2px;
}*/
/*mengatur hover aplikasi*/


/*@media (max-width: 768px) {
  .fav-app .icon-boxes .icon-box{
      margin: 0px 30px;
      width: 100%;
  }
}

@media (max-width: 1024px), (max-height: 768px) {
  .fav-app {
    margin-top: -40px;
  }
}

*/


/*.fav-app .faq-list .app-box {
  padding: 0;
  list-style: none;
}
*/
/*.fav-app .faq-list li + li {
  margin-top: 15px;
}

.fav-app .faq-list li {
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  position: relative;
}*/

/*.fav-app .faq-list .aplikasi {
 
}*/

/*@media (max-width: 768px) {
  .fav-app .faq-list .aplikasi img {
    width: 60px;
  }
}

@media (max-width: 575px) {
  .fav-app .faq-list {
    border-radius: 0px;
  }
}*/


.fav-app .faq-list {
  text-align: center;
  width: 100%;  
  /*background: rgba(211, 211, 211, 0.8);*/
  /*box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);*/
  /*padding: 10px 10px;*/
}

.fav-app .faq-list .app-box {
  background: rgba(211, 211, 211, 0.4);
  box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
  /*margin: 0 -20px;*/
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px 25px 0 0;
  backdrop-filter: blur(5px);
}

.fav-app .faq-list .aplikasi .item img{
  width: 80px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
  padding: 3px;
  border-radius: 60%;
}

.fav-app .faq-list .aplikasi .item i {
  font-size: 72px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
  border-radius: 60%;
  color: #d1d1d1;
}

.fav-app .faq-list .aplikasi .item img:hover,
.fav-app .faq-list .aplikasi .item i:hover {
  background: rgba(255, 255, 255, 0.8);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.fav-app .aplikasi .item {
  padding: 5px 25px;
  margin-bottom: 0;
}
.fav-app .faq-list .aplikasi .item .menu {
  margin-top: -15px;
  position: relative;
  left: 30px;
  opacity: 1;
}

.fav-app .faq-list .aplikasi .item .menu i{
  font-size: 18px;
  color: red;
  background-color: white;
}
/*.fav-app .faq-list .aplikasi .item .menu i:hover{
  color: red;
  transition: 2s;
}*/
.fav-app .faq-list span {
  line-height: 24px;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  display: -webkit-inline-box;
  padding: 0 20px;
  bottom: 20px;
  /*display: block;*/
  /*padding: 0 30px;*/
  /*display: inline-block;*/
}

.fav-app .faq-list .line-height {
  line-height: 0.7 !important;
}

.fav-app .faq-list .icon-show, .fav-app .faq-list .icon-close {
  background: rgba(211, 211, 211, 0.4);
  font-size: 20px;
  padding: 8px;
  position: absolute;
  right: 0;
  top: 2px;
  border-radius: 20px 20px 0px 0px;
  /*top: 0;*/
}
.fav-app .faq-list .menus {
  color: #C7C7C7;
  font-size: 16px;
  position: absolute;
  right: 0;
  z-index: 1;
  padding-top: 10px;
  /*margin-right: -10px;*/
}
.menus .dropdown-toggle::after {
  border-top: 0px;
}
.fav-app .faq-list .icon-show {
  display: none;
}

.fav-app .faq-list span.collapsed {
  color: #2c4964;
}

.fav-app .faq-list span.collapsed:hover {
  color: var(--basic-light-color-hex);
}

.fav-app .faq-list span.collapsed .icon-show {
  display: inline-block;
}

.fav-app .faq-list span.collapsed .icon-close {
  display: none;
}
/*start by modal*/

/*end by modal*/

@media (max-width: 1200px) {
  .fav-app .aplikasi .item {
    padding: 5px 13px;
  }
  .fav-app .faq-list .aplikasi .item img {
    width: 55px;
  }
  .fav-app .faq-list .aplikasi .item i {
    font-size: 55px;
  }
  .fav-app .faq-list .app-box {
    border-radius: 0px;
  }
  .fav-app .faq-list .menus {
    /*margin-right: 15px;*/
  }
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us {
  padding: 0 0 30px 0;
  position: relative;
  z-index: 1;
  margin-top: -50px;
}

.why-us .icon-boxes .icon-box {
  text-align: center;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 20px 20px;
  width: 100%;
}

.why-us .icon-boxes .icon-box .smart-service-logo{
  width: 90px;
}

.why-us .icon-boxes .icon-box i {
  font-size: 90px;
  color: #ddd;
  border-radius: 60%;
  /*margin-bottom: 30px;*/
}

/*mengatur icon hover aplikasi*/
.why-us .icon-boxes .menu-box .menu {
  position: absolute;
  left: 20px;
  bottom: 0;
  right: 20px;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
}

.why-us .icon-boxes .menu-box .menu:hover {
  opacity: 1;
}

.why-us .icon-boxes .menu-box .menu a {
  transition: color 0.3s;
  color: #473d3a;
  margin: 0 10px;
  padding-top: 8px;
  display: inline-block;
}

.why-us .icon-boxes .menu-box .menu a:hover {
  color: var(--default-color-hover-hex);
}

.why-us .icon-boxes .menu-box .menu i {
  font-size: 18px;
  margin: 0 2px;
}
/*mengatur hover aplikasi*/


@media (max-width: 768px) {
  .why-us .icon-boxes .icon-box{
      margin: 0px 30px;
      width: 100%;
  }
}

@media (max-width: 1024px), (max-height: 768px) {
  .why-us {
    margin-top: -40px;
  }
}

/*--------------------------------------------------------------
# Berita
--------------------------------------------------------------*/
.berita {
  padding: 10px 0;
}
.berita .date {
  border-radius: 10px;
  padding: 6px 20px;
  margin-bottom: 10px;
  color: #68BBFF;
  background-color: #EFF7FF;
  width: fit-content;
}
.berita .highlight .img-box {
  height: 300px;
  border-radius: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}
.berita .highlight .img-box:hover img {
   transform: scale(1.1);
   transition: ease-in-out 0.3s;
}
.berita .content h3 {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.3em;
  color: #2c4964;
}
.berita .berita-carousel h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3em;
  color: #2c4964;
}
.berita-carousel .item .berita-img {
  height: 250px;
  border-radius: 30px;
  margin-bottom: 12px;
  overflow: hidden;
}
.berita-carousel .item:hover img {
   transform: scale(1.1);
   transition: ease-in-out 0.3s;
}
.berita-carousel .item .description{
  font-size: 14px;
}
.berita-carousel .owl-prev, .berita-carousel .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block !important;
  border:0px solid black;
}

.berita-carousel .owl-prev { left: -5px; }
.berita-carousel .owl-next { right: -5px; }
.berita-carousel .owl-prev i,
.berita-carousel .owl-next i {
  transform : scale(2,2); 
  color: #ccc;
}

@media (max-width: 575px) {
  .berita .highlight .img-box,
  .berita-carousel .item .berita-img {
    height: 250px;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  padding: 120px 0;
}

.about .content h3 {
  font-weight: 600;
  font-size: 32px;
  color: #2c4964;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: var(--basic-light-color-hex);
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .read-more {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 50px 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  color: #fff;
  background: linear-gradient(45deg, var(--basic-light-color-hex) 0%, var(--basic-strong-color-hex) 100%);
  position: relative;
}

.about .content .read-more:hover {
  background: linear-gradient(180deg, var(--basic-light-color-hex) 0%, var(--basic-strong-color-hex) 100%);
}

.about .content .read-more i {
  font-size: 22px;
  position: absolute;
  right: 20px;
  top: 12px;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  background: linear-gradient(90deg, rgba(88, 70, 249, 0.5) 0%, rgba(123, 39, 216, 0.5) 100%), url("../img/counts-bg.png") center center no-repeat;
  padding: 80px 0 60px 0;
}

.counts .counters span {
  font-size: 48px;
  display: block;
  color: #fff;
  font-weight: 600;
  font-family: "Helvetica Neue", sans-serif;
}

.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.services .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box h4 a {
  color: #2c4964;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

.services .iconbox-blue i {
  color: #47aeff;
}

.services .iconbox-blue:hover .icon i {
  color: #fff;
}

.services .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

.services .iconbox-orange i {
  color: #ffa76e;
}

.services .iconbox-orange:hover .icon i {
  color: #fff;
}

.services .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.services .iconbox-pink i {
  color: #e80368;
}

.services .iconbox-pink:hover .icon i {
  color: #fff;
}

.services .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.services .iconbox-yellow i {
  color: #ffbb2c;
}

.services .iconbox-yellow:hover .icon i {
  color: #fff;
}

.services .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.services .iconbox-red i {
  color: #ff5828;
}

.services .iconbox-red:hover .icon i {
  color: #fff;
}

.services .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.services .iconbox-teal i {
  color: #11dbcf;
}

.services .iconbox-teal:hover .icon i {
  color: #fff;
}

.services .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}

/*--------------------------------------------------------------
# Smart Service
--------------------------------------------------------------*/
.smart-service {
  padding-top: 30px;
}

/*aplikasi category*/
.smart-service .box-category {
  padding: 60px 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  height: 230px;
  position: relative;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.smart-service .img-box {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.smart-service .img-box img {
  width: 160px;
  position: relative;
  /*border-radius: 50%;*/
  /*box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);*/
}
.smart-service .box-category:hover img {
  filter: none;
  /*border: 1px solid var(--basic-light-color-hex);*/
}
.smart-service .box-category:hover .img-box {
  transition: 0.2s;
  opacity: 1;
}
.smart-service .box-category:hover .img-box i {
  color: var(--basic-light-color-hex);
}
.smart-service .box-category:hover .title {
  color: var(--basic-light-color-hex);
}
.smart-service .panel-category {
  height: auto;
}
.smart-service .panel-category .owl-stage {
  margin-top: 40px;
}
.panel-category .owl-prev, .panel-category .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block !important;
  border:0px solid black;
}
.panel-category .owl-prev { left: -8px; }
.panel-category .owl-next { right: -8px; }
.panel-category .owl-prev i, 
.panel-category .owl-next i {
  transform : scale(2,2);
  color: #bbb;
}
.panel-search-app {
  margin-top: 35px;
}
/*end category*/

/*start by category*/
.modal-app .modal-header {
  transition: 0.2s;
  background: #fff;
  height: 75px;
  border-radius: 25px 25px 0 0;
}
.modal-app .modal-header .img-header{
  border-bottom: none;
  position: absolute;
  top: -70px;
  left: calc(50% - 78px);
  transition: 0.2s;
  border-radius: 50%;
  width: 160px;
}
.modal-app .modal-content {
  overflow: unset;
}
.modal-app .box-category {
  text-align: center;
  position: relative;
}
.modal-app .service-title {
  font-size: 18px;
  font-weight: 300;
}
.modal-app .img-level {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px;
  border-radius: 25px;
  opacity: 0.7;
  border: 2px solid #D8DCE1;
}
.modal-app .img-box {
  filter: grayscale(100%);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal-app .img-level img {
  width: 70px;
  height: 70px;
  position: relative;
}
.modal-app .img-box img {
  width: 90px;
  height: 90px;
  position: relative;
}
.modal-app .title-level {
  color: #6C6C6C;
  font-weight: 400;
  margin-top: 12px;
  font-size: 16px;
}
.modal-app .title {
  font-weight: 600;
  margin-top: 12px;
  font-size: 16px;
}
.modal-app .panduan {
  color: #337AB7;
  font-size: 14px;
  margin-bottom: 5px;
}
.modal-app .description {
  font-size: 13px;
  color: #343a40;
  text-align: center;
}
.modal-app .img-level:hover {
  opacity: 1;
}
.modal-app .box-category:hover img {
  border: 1px solid var(--basic-light-color-hex);
  border-radius: 50%;
  background: #fff
  filter: none;
}
.modal-app .box-category:hover .img-box {
  transition: 0.2s;
  filter: none;
  opacity: 1;
}
.modal-app .box-category:hover .img-box i {
  color: var(--basic-light-color-hex);
}
.modal-app .box-category:hover .title {
  color: var(--basic-light-color-hex);
}
.modal-app .modal-dialog {
  margin-top: 3.5rem !important;
}
.modal-app .modal-dialog .btn-close {
  font-size: 14px;
  color: #FF8C5D;
}
/*end by category*/

.smart-service .logo-box {
  padding: 60px 20px;
  margin-top: 35px;
  margin-bottom: 25px;
  text-align: center;
  height: 220px;
  position: relative;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.smart-service .img-app {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
/*  background: var(--basic-light-color-hex);*/
}
.smart-service .smart-service-logo {
  width: 90px;
  border-radius: 50%;
  position: relative;
  border: 2px solid #fff;
  transition: 1s;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  filter: grayscale(80%);
/*  margin: -40px 0 0 40px;*/
  /*z-index: 2;*/
    /*background: var(--basic-light-color-hex);*/
}
.smart-service .title {
  font-weight: 700;
  margin-top: 12px;
  font-size: 18px;
  text-transform: uppercase;
  /*margin-bottom: 10px;*/
}
.modal-app .title,
.smart-service .title {
  color: #343a40;
}
.smart-service .logo-box:hover img {
  width: 90px;
  filter: none;
  border: 2px solid var(--basic-light-color-hex);
}
.smart-service .logo-box:hover .img-app {
  background: #fff;
  border: 2px solid var(--basic-light-color-hex);
}
.smart-service .logo-box:hover .img-app i {
  color: var(--basic-light-color-hex);
}
.smart-service .logo-box:hover .title a {
  color: var(--basic-light-color-hex);
}

.smart-service .description {
  /*line-height: 24px;*/
  font-size: 14px;
}
.smart-service .feature-box:hover i {
  background: #4154f1;
  color: #fff;
}

.smart-service .app-list .nav-pills {
  border-bottom: 1px solid #eee;
}
.smart-service .app-list .nav-link {
  background: none;
  font-size: 15px;
  font-weight: 600;
  color: #23262a;
  padding: 12px 0;
  margin-right: 20px;
  margin-bottom: -2px;
  border-radius: 0;
  text-transform: uppercase;
}
.smart-service .app-list .nav-link.active {
  color: var(--basic-light-color-hex);
  border-bottom: 3px solid var(--basic-strong-color-hex);
}
.smart-service .app-list .tab-content h4 {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
  color: #012970;
}

.smart-service .app-list .app-tabs .owl-prev, .smart-service .app-list .app-tabs .owl-next {
  position: absolute;
  top: 50%;
  border:0px solid black;
  display: block !important;
  transform: translateY(-50%);
}
.smart-service .app-list .app-tabs .owl-prev { left: -10px; }
.smart-service .app-list .app-tabs .owl-next { right: -10px; }
.smart-service .app-list .app-tabs .owl-prev i, 
.smart-service .app-list .app-tabs .owl-next i {
  transform : scale(1,1); 
  color: #ccc;
}
.smart-service .app-list .app-tabs .owl-stage-outer {
  margin: 0px 10px;
}
.smart-service .app-list .app-tabs li {
  display: inline-block;
  white-space: nowrap;
  transition: all 0.3s ease-in;
}
.smart-service .app-list .app-tabs li:hover {
  opacity: 0.7;
  cursor: pointer;
}
.smart-service .app-list .app-tabs .tab-content > div {
  display: none;
}
.smart-service .app-list .app-tabs .tab-content > div.active {
  display: block;
}


/*--------------------------------------------------------------
# Wisata Budaya
--------------------------------------------------------------*/
.wisata-budaya {
  /*background: linear-gradient(90deg, rgba(88, 70, 249, 0.5) 0%, rgba(123, 39, 216, 0.5) 100%), url("../img/atlas-bg.png") center center no-repeat;*/
  background-image: url(../img/bg/bg-jkt.svg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wisata-budaya .artikel {
  margin-bottom: 25px;
  /*background: #343a40;*/
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
}
.wisata-budaya .artikel .big-thumb{
  height: 300px;
}
.wisata-budaya .artikel .big-thumb img,
.wisata-budaya .artikel .small-thumb img {
  transition: ease-in-out 0.3s;
}
.wisata-budaya .artikel:hover img {
  transform: scale(1.1);
}
.wisata-budaya .artikel .small-thumb{
  height: 130px;
  background: linear-gradient(0deg, rgba(12, 17, 26, 0.9) 0%, rgba(20, 29, 43, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
}
.wisata-budaya .artikel img {
  display: block;
}
.wisata-budaya .artikel .artikel-info-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  /*bottom: 50px;*/
  transition: bottom 0.4s;
  padding: 0px 20px;
}
.wisata-budaya .artikel .artikel-info-content a h4 {
  font-weight: normal;
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 20px;
  color: #fff;
}

.wisata-budaya .artikel-info-content a h6 {
  font-weight: normal;
  font-weight: 700;
  margin-top: 10px;
  font-size: 16px;
  color: #484848;
}

.wisata-budaya .artikel .artikel-info-content a h4:hover, 
.wisata-budaya .artikel-info-content a h6:hover {
  color: var(--default-color-hover-hex);
}

.wisata-budaya .artikel .artikel-info-content p {
  display: block;
  font-size: 15px;
  color: #fff;
}
.wisata-budaya .artikel-info-content span {
  display: block;
  font-size: 14px;
  color: #ccc;
}
.wisata-budaya .artikel-info-content span i {
  margin-right: 5px;
}
.wisata-budaya .artikel .artikel-info {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: 0.2s;
  transition: 0.4s;
  background: linear-gradient(0deg, rgba(12, 17, 26, 0.9) 0%, rgba(20, 29, 43, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
}
.wisata-budaya .artikel:hover .artikel-info {
  opacity: 1;
  transition: 0.4s;
  background: linear-gradient(0deg, rgba(12, 17, 26, 0.9) 0%, rgba(20, 29, 43, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
}

.wisata-budaya .artikel:hover .artikel-info-content {
  bottom: 20px;
  transition: bottom 0.4s;
}

.wisata-budaya .wrapper {
  height: 300px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
@media (max-width: 575px) {
  .wisata-budaya {
    padding: 20px 0px;
  }
  .wisata-budaya .artikel .big-thumb,
  .wisata-budaya .artikel .small-thumb {
    height: 250px;
  }
}

/*--------------------------------------------------------------
# Promosi
--------------------------------------------------------------*/
.promotion {
  padding: 0px;
}
.promotion .event {
  min-height: 230px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  position: relative;
  box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.08);
}
.promotion .event .pic {
  height: 150px;
  border-radius: 10%;
  border: 1px solid #eee;
  overflow: hidden;
}
.promotion .event .pic img {
  transition: ease-in-out 0.3s;
}
.promotion .event:hover img {
  transform: scale(1.1);
}
.promotion .event h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #2c4964;
}
.promotion .event h4:hover{
  color: var(--default-color-hover-hex);
}
.promotion .event span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}
.promotion .event span::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b2c8dd;
  bottom: 0;
  left: 0;
}
.promotion .event p {
  margin: 10px 0 0 0;
  font-size: 14px;
}
.promotion .event-info ul {
  list-style: none;
  padding: 5px 0px 0px 0px;
  margin-bottom: 0;
}
.promotion .event-info ul li {
  font-size: 14px;
}
.promotion .event-info ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #585858;
}
.promotion .read-more {
  margin: 30px 0px ;
}
.promotion .event .get-it {
  border-radius: 10px;
  margin-bottom: -20px;
  right: 25px;
  bottom: 0;
  position: absolute;
  z-index: 2;
  background-color: #c6a079;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
}
.promotion .event .get-it:hover{
  background-color: var(--default-color-hover-hex);
  transition: ease-in-out 0.2s;
}
.promotion .event .get-it a {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
@media (max-width: 991px) {
  .promotion .event .pic {
    height: 220px;
  }
}

/*--------------------------------------------------------------
# Pengaduan
--------------------------------------------------------------*/
.pengaduan {
  background-image: url(../img/bg/bg-dots.svg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*--------------------------------------------------------------
# Pengaduan Entry
--------------------------------------------------------------*/
.pengaduan .entry {
  padding: 20px;
  /*margin-bottom: 60px;*/
  overflow: hidden;
  border-radius: 20px;
  /*box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);*/
}

.pengaduan .entry .entry-img {
  /*max-height: 400px;*/
  /*box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);*/
  height: 300px;
  margin: -20px -20px 20px -20px;
  overflow: hidden;
  border-radius: 20px;
}
.pengaduan .entry .entry-img img {
   transition: ease-in-out 0.3s;
}
.pengaduan .entry:hover img {
   transform: scale(1.1);
}
.pengaduan .entry .entry-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  padding: 0;
  margin: 0 -20px;
}
.pengaduan .entry .entry-title a {
  color: #473d3a;
  transition: 0.3s;
}
.pengaduan .entry .entry-title a:hover {
  color: var(--default-color-hover-hex);
}
.pengaduan .entry .entry-content {
  margin: 0 -20px;
}
.pengaduan .entry .entry-content p {
  line-height: 24px;
  font-size: 15px;
}
.pengaduan .entry .entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}
.pengaduan .entry-single {
  margin-bottom: 30px;
}
.pengaduan .entry-single .entry-title {
  font-size: 32px;
  line-height: 38px;
}
.pengaduan .entry .label {
  position: absolute;
  /*height: 48px;*/
  top: 0;
  padding: 10px 40px;
  border-radius: 20px 0px;
  transition: bottom ease-in-out 0.4s;
}
.pengaduan .entry .label span {
  color: #fff;
  font-weight: 600;
  font-size: 18px;  
}
.pengaduan .add-pengaduan {
  border: 1px solid #FE794E;
  border-radius: 10px;
  padding: 5px 20px;
}
.pengaduan .add-pengaduan:hover {
  background-color: #FE794E;
  color: #FFFFFF;
  transition: 1s;
}
.pengaduan .add-pengaduan a:hover {
  color: #FFFFFF;
}
.pengaduan .add-pengaduan a {
  color: #FE794E;
}
@media (max-width: 575px) {
  .pengaduan {
    padding: 20px 0px;
  }
}

/*--------------------------------------------------------------
# UMKM PRODUK
--------------------------------------------------------------*/
.umkm-produk {
  background: var(--bg-liner-gradient);
  padding: 0px;
}
.umkm-produk .produk {
  margin-bottom: 20px;
  height: 300px;
  border-radius: 10px;
  background: #343a40;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
}
.umkm-produk .produk .produk-info {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}
.umkm-produk .produk .produk-info-content {
  position: absolute;
  left: 0;
  right: 0;
  /*bottom: 10px;*/
  bottom: 50px;
  transition: bottom 0.4s;
}
.umkm-produk .produk .produk-info-content h4 {
  font-weight: normal;
  margin-bottom: 2px;
  font-size: 14px;
  color: #fff;
}
.umkm-produk .produk .produk-info-content span {
  font-size: 13px;
  color: #fff;
  display: block;
  font-style: italic;
}
.umkm-produk .produk .social {
  position: absolute;
  left: 0;
  bottom: -5px;
  right: 0;
  height: 48px;
  text-align: center;
  transition: bottom ease-in-out 0.4s;
}
.umkm-produk .produk .social a {
  transition: color 0.3s;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 10px;
  display: inline-block;
}
.umkm-produk .produk .social a:hover {
  color: #fff;
}
.umkm-produk .produk .social i {
  font-size: 18px;
  margin: 0 2px;
}
.umkm-produk .produk .produk-info {
  opacity: 1;
  transition: 0.4s;
  background: linear-gradient(0deg, rgba(12, 17, 26, 0.9) 0%, rgba(20, 29, 43, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
}
.umkm-produk .produk:hover .produk-info {
  opacity: 1;
  transition: 0.4s;
  background: linear-gradient(0deg, rgba(12, 17, 26, 0.9) 0%, rgba(20, 29, 43, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
}
.umkm-produk .produk:hover .produk-info-content {
  bottom: 70px;
  transition: bottom 0.4s;
}
.umkm-produk .produk:hover .social {
  bottom: 10px;
  transition: bottom ease-in-out 0.4s;
}
/*button*/
.umkm-produk .produk .social .read-more {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 4px 30px;
  border-radius: 15px;
  transition: 0.5s;
  color: #fff;
  background: #BF392A;
  position: relative;
}
.umkm-produk .produk:hover .social .read-more {
  transition: 0.5s;
  background: linear-gradient(180deg, #c55819 0%, #c54a36 100%);
}
.umkm-produk .produk .social .read-more i {
  font-size: 22px;
  position: absolute;
  right: 20px;
  top: 12px;
}
/*carousel*/
.umkm-produk .umkm-produk-carousel .owl-nav {
  margin-top: 5px;
  text-align: center;
}

.umkm-produk .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
/*  padding: 0 15px;*/
}

.umkm-produk .owl-item img:hover {
  filter: none;
  opacity: 1;
}

.umkm-produk .owl-prev, .umkm-produk .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block !important;
  border:0px solid black;
}
.umkm-produk .owl-prev { left: -13px; }
.umkm-produk .owl-next { right: -13px; }
.umkm-produk .owl-prev i, .umkm-produk .owl-next i {
  transform : scale(2,2);
  color: #ccc;
}
.umkm-produk-carousel .owl-nav { display: block !important; }

@media (max-width: 575px) {
  .umkm-produk {
    padding: 20px 0px;
  }
}

/*--------------------------------------------------------------
# JSS TV
--------------------------------------------------------------*/
.jsstv {
  /*padding-top: 60px;
  padding-bottom: 0px;
  position: relative;
  background: #F0F5FF;
  text-align: center;
  overflow: hidden;*/
  background-image: url(../img/bg/path-waves.svg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jsstv .icon-boxes h4 {
  font-size: 18px;
  color: #7f6d68;
  margin-bottom: 15px;
}

.jsstv .icon-boxes h3 {
  font-size: 25px;
  /*font-weight: 700;*/
  color: #554945;
  margin-bottom: 15px;
}

.jsstv .icon-box {
  margin-top: 40px;
}

.jsstv .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #ffcbba;
  border-radius: 50px;
  transition: 0.5s;
  background: #fff;
}

.jsstv .icon-box .icon i {
  color: #ff5821;
  font-size: 32px;
}

.jsstv .icon-box:hover .icon {
  background: #ff5821;
  border-color: #ff5821;
}

.jsstv .icon-box:hover .icon i {
  color: #fff;
}

.jsstv .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.jsstv .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}

.jsstv .icon-box .title a:hover {
  color: #ff5821;
}

.jsstv .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}

.jsstv .yt-video-box {
  background-size: cover;
  min-height: 316px;
  border-radius: 20px;
  background-color: black;
  position: relative;
  /*height: 400px;*/
  /*height: 60vh;*/
}

.jsstv .yt-video-box iframe {
  border-radius: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.jsstv .big-video-box {
  background-size: cover;
  /*min-height: 400px;*/
}

.jsstv .big-video-box img {
  border-radius: 20px;
}

.jsstv .small-video-box {
  background-size: cover;
  min-height: 300px;
  border-radius: 20px;
}

.jsstv .play-btn {
  width: 94px;
  height: 94px;
  /*width: 100px;*/
  /*height: 100px;*/
  background: radial-gradient(#ff5821 50%, rgba(255, 88, 33, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  /*left: calc(50% - 47px);*/
  /*top: calc(50% - 47px);*/
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  overflow: hidden;
}

.jsstv .small-play-btn {
  width: 80px;
  height: 80px;
  background: radial-gradient(#ff5821 50%, rgba(255, 88, 33, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(38% - 47px);
  overflow: hidden;
}

.jsstv .small-play-btn::after,
.jsstv .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.jsstv .small-play-btn::before,
.jsstv .play-btn::before {
  content: '';
  position: absolute;
  width: 130px;
  height: 130px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 88, 33, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.jsstv .small-play-btn:hover::after,
.jsstv .play-btn:hover::after {
  border-left: 15px solid #ff5821;
  transform: scale(20);
}

.jsstv .small-play-btn:hover::before,
.jsstv .play-btn:hover::before, {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}
.jsstv .tv-entry {
  padding: 20px;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: -10px;
}

.jsstv .tv-entry .small-thumb {
  max-height: 160px;
  margin: -20px -20px 5px -20px;
  overflow: hidden;
  border-radius: 20px;
}

/*@media (min-width: 1280px) {
  .jsstv .tv-entry .small-thumb {
    max-height: 200px;
  }
}*/
@media (min-width: 1440px) {
  .jsstv .tv-entry .small-thumb {
    max-height: 200px;
  }
}

@media (max-width: 575px) {
  .jsstv .tv-entry .small-thumb {
    max-height: 300px;
  }
}

.jsstv .tv-entry .tv-title {
  font-size: 18px;
/*  line-height: 20px;*/
  padding: 0;
  margin: 0 -20px;
}

.jsstv .tv-entry .tv-title span,
.jsstv .tv-entry .tv-title a {
  color: #473d3a;
  transition: 0.3s;
}

.jsstv .tv-entry .tv-title span:hover,
.jsstv .tv-entry .tv-title a:hover {
  color: var(--default-color-hover-hex);
  /*transition: ease-in-out 0.3s;*/
}

.jsstv .tv-entry-single .tv-title {
  font-size: 32px;
  line-height: 38px;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.features .icon-box i {
  font-size: 48px;
  float: left;
  color: var(--basic-light-color-hex);
}

.features .icon-box p {
  font-size: 15px;
  color: #848484;
  margin-left: 60px;
}

.features .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

/*--------------------------------------------------------------
# Application Shortcut
--------------------------------------------------------------*/
.app-popular {
  padding-top: 20px;
  padding-bottom: 0px;
}
.app-popular .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.app-popular .app-item img {
  width: 75%;
  /*filter: grayscale(100%);*/
  transition: ease-in-out 0.3s;
}

.app-popular .app-item img:hover {
  filter: none;
  opacity: 1;
}
.app-popular .app-item {
  color: #444444;
}
.app-popular .app-item:hover{
  color: var(--basic-light-color-hex);
}
.app-popular .app-item h6 {
  text-align: center;
  font-size: 14px;
}

/*.app-popular .owl-nav, .app-popular .owl-dots {
  margin-top: 5px;
  text-align: center;
}*/

/*.app-popular .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.app-popular .owl-dot.active {
  background-color: var(--basic-light-color-hex) !important;
}*/
/*.app-popular .owl-nav .owl-prev, .app-popular .owl-nav .owl-next {
  margin-top: -0px;
}*/
.app-popular .owl-prev, .app-popular .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block !important;
  border:0px solid black;
}

.app-popular .owl-prev { left: -5px; }
.app-popular .owl-next { right: -5px; }
.app-popular .owl-prev i, .app-popular .owl-next i {transform : scale(2,2); color: #ccc;}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-item {
  box-sizing: content-box;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: #2c4964;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 0 45px;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #b1a9fc;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
}

.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.testimonials .owl-dot.active {
  background-color: var(--basic-light-color-hex) !important;
}

@media (max-width: 767px) {
  .testimonials {
    margin: 30px 10px;
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  font-family: "Helvetica Neue", sans-serif;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: var(--basic-light-color-hex);
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(88, 70, 249, 0.8);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 10%;
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #fff;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
  top: calc(50% - 48px);
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: calc(50% - 50px);
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.pricing h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #2c4964;
  background: #f8f8f8;
}

.pricing h4 {
  font-size: 36px;
  color: var(--basic-light-color-hex);
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.pricing h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing ul li {
  padding-bottom: 16px;
}

.pricing ul i {
  color: var(--basic-light-color-hex);
  font-size: 18px;
  padding-right: 4px;
}

.pricing ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}

.pricing .btn-buy {
  background: linear-gradient(42deg, var(--basic-light-color-hex) 0%, var(--basic-strong-color-hex) 100%);
  display: inline-block;
  padding: 10px 35px;
  border-radius: 4px;
  color: #fff;
  transition: none;
  font-size: 15px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.pricing .btn-buy:hover {
  background: linear-gradient(180deg, var(--basic-light-color-hex) 0%, var(--basic-strong-color-hex) 100%);
}

.pricing .featured h3 {
  color: #fff;
  background: var(--basic-light-color-hex);
}

.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: var(--basic-light-color-hex);
  color: #fff;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq {
  background: linear-gradient(42deg, var(--basic-light-color-hex) 0%, var(--basic-strong-color-hex) 100%);
}

.faq .section-title h2, .faq .section-title p {
  color: #fff;
}

.faq .section-title h2::after {
  background: rgba(255, 255, 255, 0.6);
}

.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li + li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #8577fb;
}

.faq .faq-list .icon-show, .faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #2c4964;
}

.faq .faq-list a.collapsed:hover {
  color: var(--basic-light-color-hex);
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  background: #fff;
}

.contact .info-box i {
  font-size: 32px;
  color: var(--basic-light-color-hex);
  border-radius: 50%;
  padding: 8px;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #2c4964;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  background: #fff;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 5px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: var(--basic-light-color-hex);
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: var(--basic-light-color-hex);
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: var(--basic-strong-color-hex);
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f2f6f9;
  min-height: 40px;
  margin-top: 68px;
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  font-size: 14px;
  margin: 0;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #3c6387;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding: 30px 0 60px 0;
}

.portfolio-details .portfolio-details-container {
  position: relative;
}

.portfolio-details .portfolio-details-carousel {
  position: relative;
  z-index: 1;
}

.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: left;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: var(--basic-light-color-hex) !important;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 50px;
}

.portfolio-details .portfolio-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0 0 0 0;
}

@media (max-width: 768px) {
  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #fff;
  font-size: 14px;
  /*background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url("../img/hero-bg.jpg") center center no-repeat;*/
  background: linear-gradient(45deg, rgba(34, 38, 41, 0.8) 0%, rgba(34, 38, 41, 0.8) 100%), url("../img/geom.png") center center repeat;
  background-size: cover;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  position: relative;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 30px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Helvetica Neue", sans-serif;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: underline;
  color: #fff;
}
#footer .footer-top .footer-logo img {
  width: 90px;
  height: 90px;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 5px;
  text-align: left;
  border: 1px solid white;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -2px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: rgba(123, 39, 216, 0.8);
  color: #fff;
  transition: 0.3s;
  border-radius: 0 5px 5px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: var(--basic-light-color-hex);
}

#footer .copyright-wrap {
  border-top: 1px solid #8577fb;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #fff;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-decoration: none;
}